
<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <div class="navbar-header">
      <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" 
      aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> -->
      <a class="navbar-brand" href="/">
        <img width="98px" src="/public/img/haizeiwang.jpg" alt="">
      </a>
    </div>
    <div class="person" id="bs-example-navbar-collapse-1" style="display: flex;">
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
      </form>
      <ul class="navbar navbar-expand-lg navbar-light bg-ligh" style="display: flex; float: right; list-style: none ; margin-bottom: 0;">
        {{ if user }}
        <!-- <li class="nav-item">
          
        </li> -->
        <span>
          <a class="btn btn-light" href="/topics/new" >发起</a>
        </span>
        
        <li class="nav-item dropdown" >
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" style="color: white;">
            详细信息
          </a>
          <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
           
            <span  class="dropdown-item"> 当前登录用户: <a href="">{{ user.nickname }}</a></span>
            
            <a class="dropdown-item" href="#">个人主页</a>
            <a class="dropdown-item" href="/settings/profile">设置</a>
            <a class="dropdown-item" href="/logout">退出</a>
          </div>
        </li>
        <a href="">
          <img width="30" height="30" src="/public/img/luo.jpg" alt=""> 
        </a>
        {{ else }}
          <span>
            <a class="btn btn-primary navbar-btn" href="/login">登录</a>
            <a class="btn btn-success navbar-btn" href="/register">注册</a>
          </span>
        {{ /if }}
      </ul>
    </div>
  </div>
</nav>